@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

.container {
    width: 100%;
    font-family: 'Noto Sans JP', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 12px;
    border-bottom: 1px solid #E0E0E0;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 2;
}

.aside {
    width: 250px;
    height: 100%;
    padding: 12px;
    position: fixed;
    left: 0;
    top: 50px;
    border-right: 1px solid #E0E0E0;
}

.section {
    width: 100%;
    padding: 24px 0;
    border-bottom: 1px solid #E0E0E0;
}

.section:first-child {
    padding-top: 0;
}

.main {
    width: calc( 100% - 250px );
    position: absolute;
    left: 250px;
    top: 50px;
    padding: 12px;
}

.canvas-holder {
    position: relative;
    width: 100%;
    margin-bottom: 24px;
    border: 1px solid #E0E0E0;
}

.canvas-holder::before {
    content:"";
    display: block;
    /* 9 ÷ 16 × 100 */
    padding-top: 56.25%; 
}

.canvas {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    margin-bottom: 24px;
}

.row > label {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.title {
    font-size: 24px;
    margin: 0;
}   

.subtitle {
    font-size: 18px;
    margin: 0;
}   

.table {
    font-size: 14px;
}

.kind {
    margin: 0;
    padding: 0;
}

.label {
    margin-left: 12px;
}

.label:first-child {
    margin-left: 0;
}

.file {
    font-family: inherit;
}

.button {
    font-family: inherit;
    margin-left: 12px;
}

.input-group {
    margin-left: 24px;
}

/* .preview */
.preview {
    width: 100%;
    border-radius: 8px;
    background: #eee;
    border: 1px solid #E0E0E0;

}

.preview > a {
    display: inline-block;
    font-size: 0;
    width: 20%;
    padding: 12px;
}

.preview > a > img {
    width: 100%;
    background: #fff;
}

/* .loader */
.loader {
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.loader img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate( -50%, -50%);
    z-index: 999;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}




@media screen and (max-width: 900px) {
    .preview a {
        width: 33.3333%;
    }
}

@media screen and (max-width: 450px) {
    .preview a {
        width: 100%;
    }
}