@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

.container {
    width: 100%;
    padding: 24px;
    font-family: 'Noto Sans JP', sans-serif;
}

.canvas {
    display: none;
}

.header {
    width: 100%;
    margin-bottom: 24px;
}

.title {
    font-size: 24px;
    margin: 0;
}   

.form {
    width: 100%;
    margin-bottom: 24px;
}

.settings {
    width: 100%;
    padding: 12px;
    background: #eee;
    margin-bottom: 24px;
    border-radius: 8px;
    border: 1px solid #E0E0E0;
}

.subtitle {
    font-size: 18px;
    margin: 0;
}   

.table {
    font-size: 14px;
}

.kind {
    margin: 0;
    padding: 0;
}

.label {
    margin-left: 12px;
}

.label:first-child {
    margin-left: 0;
}

.file {
    font-family: inherit;
}

.button {
    font-family: inherit;
    margin-left: 24px;
}

.preview {
    width: 100%;
}

.preview > a {
    display: inline-block;
    font-size: 0;
    width: 20%;
    padding: 12px;
}

.preview > a > img {
    width: 100%;
    border: 1px solid #ccc;
}

@media screen and (max-width: 900px) {
    .preview a {
        width: 33.3333%;
    }
}

@media screen and (max-width: 450px) {
    .preview a {
        width: 100%;
    }
}