.container {
    width: 100%;
    padding: 24px;
}

.canvas {
    display: none;
}

.form {
    width: 100%;
    margin-bottom: 24px;
}

.form .button {
    margin-left: 24px;
}

.preview {
    width: 100%;
}

.preview a {
    font-size: 0;
    display: inline-block;
    width: calc( 20% - 12px );
    border: 1px solid #ccc;
    margin-right: 15px;
    margin-bottom: 15px;
}

.preview a:nth-child(5n) {
    margin-right: 0;
}

.preview img {
    width: 100%;
}

.preview a {
    display: inline-block;
}

@media screen and (max-width: 900px) {
    .preview a {
        width: calc( 33.3333% - 12px );
    }
}